<nav class="navbar navbar-light navbar-expand-md d-block d-md-flex bg-light">
  <a routerLink="/" class="navbar-brand">Rezeptbuch</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/recipes">Rezepte</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/shopping-list">Einkaufsliste</a>
    </li>

    <li class="nav-item dropdown" appDropwdown>
      <a class="nav-link dropdown-toggle"
        >bearbeiten <span class="caret"></span
      ></a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onSave()">Daten Speichern</a>
        <a class="dropdown-item" (click)="onFetchData()">Daten abrufen</a>
      </div>
    </li>
  </ul>
</nav>
