<div class="row manageRecButton">
  <div class="col-8 p-0">
    <h1 id="recipeDetail.name">{{ recipeDetail.name }}</h1>
  </div>

  <div class="col-12 col-lg-4 p-0">
    <div appDropwdown class="btn-group float-lg-right">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Rezept verwalten<span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a
          class="dropdown-item"
          (click)="onAddToShoppingList(recipeDetail.ingredients)"
          >zur Einkaufsliste hinzufügen</a
        >
        <a class="dropdown-item" routerLink="edit">Rezept bearbeiten</a>
        <a class="dropdown-item" appAffirmationWarning>Rezept Löschen</a>
      </div>
    </div>
  </div>
</div>
<div class="warn" *ngIf="!sure">
  <app-are-you-sure [del]="true"></app-are-you-sure>
</div>
<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipeDetail.imagePath }}"
      alt="{{ recipeDetail.name }}"
      class="img-fluid"
    />
  </div>
</div>

<div class="row mb-3">
  <div class="col-xs-12 description">{{ recipeDetail.description }}</div>
</div>
<div class="row">
  <div class="col-12 p-0">
    <h2>Zutaten:</h2>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredients of recipeDetail.ingredients"
      >
        {{ ingredients.name }} - {{ ingredients.amount }}
      </li>
    </ul>
  </div>
</div>
