<div class="row manageRecButton">
  <div class="col-xs-12">
    <div appDropwdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList(recipeDetail.ingredients)"
            >To Shopping List</a
          >
        </li>

        <li><a routerLink="edit">Edit Recipe</a></li>

        <li><a (click)="unaffirmedDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<span *ngIf="sure"
  ><app-are-you-sure [del]="true"></app-are-you-sure
  ><button type="button" class="btn btn-danger" (click)="onDelete()">
    ja
  </button></span
>
<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipeDetail.imagePath }}"
      alt="{{ recipeDetail.name }}"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeDetail.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 description">{{ recipeDetail.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Ingredients:</h2>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredients of recipeDetail.ingredients"
      >
        {{ ingredients.name }} - {{ ingredients.amount }}
      </li>
    </ul>
  </div>
</div>
